html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1201px){

  html{
    font-size: 62.5%;
  }

}

@media screen and (min-width: 641px) and (max-width: 1200px){

  html{
    font-size: 56.25%;
  }
}

@media screen and (max-width: 640px){

  html{
    font-size: 50%;
  }
}

@font-face{
  font-family: "Orbitron";
  src: url("../fonts/Orbitron.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*@
  textarea::-moz-placeholder{
    color: #fd5433;
  }

  textarea::-webkit-input-placeholder{
   color: #fd5433;
  }

  input::-moz-placeholder{
    color: #fd5433;
  }

  input::-webkit-input-placeholder{
   color: #fd5433;
  }

  input:focus, textarea:focus, input:hover, textarea:hover{
    outline: 2px solid #fd5433;
  }

  progress::-webkit-progress-value{
    background-color: #fff;
  }

  progress::-webkit-progress-bar{
    background-color: #fd5433;
  }

  progress::-moz-progress-bar{
    background-color: #fff;
  }
}*/

body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus{
  outline: none;
}

a:visited{
  color: inherit;
  text-decoration: none;
}

p{
  margin: 0 0 2rem 0;
  line-height: 1.4;
}

p:last-child{
  margin-bottom: 0;
}

.text_light-blue{
  color: #5488F8;
}

.text_dark-blue{
  color: #2a326e;
}

.text_gray-bold{
  font-weight: bold;
  color: #6f6f6f;
}

.text_bold{
  font-weight: bold;
}

.title{
  margin: 0;
}


.title_m{
  font-size: 3rem;
}

.title_s{
  font-size: 2.5rem;
}

.title_ms{
  font-size: 2.2rem;
}

.main-container {
    box-sizing: border-box;
    max-width: 1220px;
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 980px){

  .main-container{
    overflow: hidden;
  }
}

.header{
  border-bottom: 1px solid #dbd9d9;
}

.header__container{
  display: flex;
  flex-direction: column;
}

.header__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__contacts{
  display: flex;
  align-items: center;
}

.header__contacts-item{
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.header__social-link{
  height: 3rem;
}

.header__icon{
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.header__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Orbitron";
  font-size: 2rem;
}

.header__logo{
  max-height: 4rem;
  max-width: 10rem;
  margin-right: 2rem;
}

.header__menu{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #868686;
  height: 100%;
}

.header__menu-item{
  display: block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  padding: 2rem 1rem;
  font-size: 1.6rem;
}

.button{
  background-color: #1e73f6;
  color: white;
  border-radius: 1rem;
  border: 1px solid #1e73f6;
  padding: 2rem;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}

.button-reversed{
  background-color: white;
  color: #1e73f6;
}

.header__button{
  width: 20rem;
  font-size: 1.5rem;
}

.header__sandwich-button{
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  width: 3rem;
  height: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

.header__sandwich-button-inner{
  width: 4rem;
  height: 0.7rem;
  background-color: #000000;
  border-radius: 1rem;
}


@media screen and (max-width: 767px){

  .header__container{
    flex-direction: column-reverse;
  }

  .header__menu{
    display: none;
  }

  .header__button.button__call-request{
    display: none;
  }

  .header__contacts-item{
    font-size: 1.2rem;
  }

  .header__contacts-reversed{
    flex-direction: row-reverse;
  }

  .header__sandwich-button{
    display: flex;
  }
}

@media screen and (max-width: 400px){

  .header__logo{
    max-height: 4rem;
    max-width: 6rem;
    margin-right: 2rem;
  }

}



.banner{
  background-color: #f2f5fa;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.banner__backround{
  position: absolute;
  left: 10%;
  width: 100%;
  top: 5%;
}

.banner__content{
  width: 100%;
  height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.banner__title{
  padding-top: 3.5rem;
  width: 70%;
  font-size: 7rem;
}

.banner__buttons-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.banner__button{
  padding: 2rem 1rem;
  width: 25rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.banner__button-link{
  padding: 0;
}

.banner__link{
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 2rem 1rem;
}

.banner__button:last-of-type{
    margin-bottom: 0;
}

.banner__tags{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #868686;
}

.banner__tags-item{
  width: 30%;
}

.banner__tags-text{
  width: 50%;
}

.banner__tags-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}

.banner__icon{
  padding: 1rem;
  background-color: #1e73f6;
  border-radius: 1rem;
  margin-right: 2rem;
  min-height: 6rem;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  .banner__content{
    height: 60rem;
  }
}

@media screen and (max-width: 768px){

  .banner__content{
    height: 55rem;
  }

  .banner__backround{
    position: absolute;
    left: 0;
    width: 100%;
    top: 15%;
  }

  .banner__title{
    padding-left: 4rem;
    padding-top: 3.5rem;
    width: 70%;
    font-size: 4rem;
  }

  .banner__button {
    margin: 0 auto 2rem auto;
    width: 90%;
  }

  .banner__tags{
    flex-direction: column;
    align-items: center;
  }

  .banner__tags-item{
    width: 80%;
    margin-bottom: 2rem;
  }

  .banner__tags-text{
    width: 50%;
  }

}


@media screen and (max-width: 420px){

  .banner__content{
    height: 50rem;
  }

  .banner__title{
    padding-left: 4rem;
    padding-top: 3.5rem;
    width: 70%;
    font-size: 3rem;
  }
}

.marquee{
  display: flex;
  max-width: 300rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #5488F8;
  color: white;
  padding: 3rem 0;
  margin-bottom: 2rem;
}

.marquee__item{
 box-sizing: border-box;
 margin-right: 1.5rem;
 font-size: 2rem;
 font-weight: 500;
 text-transform: uppercase;
 animation: running-animation 10s linear infinite;
 white-space: nowrap;
}

.marquee__image{
  width: 1.5rem;
  margin: 0 1rem;
}

@keyframes running-animation {
    0% {
        transform: translateZ(0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.call-request{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.call-request-active{
  display: block;
}

.call-request__container-opacity{
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 50%;
  cursor: pointer;
}

.call-request__container-content{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  min-height: 30rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
}

.call-request__title, .call-request__text{
  text-align: center;
  margin-bottom: 2rem
}

.call-request__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.call-request__input{
  width: 90%;
  min-height: 3rem;
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: 1px solid #1e73f6;
}

.call-request__button{
  width: 95%;
}

.navigation-mobile{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation-mobile-active{
  display: block;
}

.navigation-mobile__container-opacity{
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 90%;
  cursor: pointer;
}

.navigation-mobile__container-content{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100vh;
  background-color: #1e73f6;
  padding: 3rem;
}

.mobile-menu{
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
}

.mobile-menu__item{
  font-size: 2.6rem;
  font-weight: bold;
}

.navigation-mobile__social{
  display: flex;
}

.navigation-mobile__social-link{
  margin-right: 1.5rem;
}


.fulfilment{
  font-size: 2rem;
  margin-bottom: 4rem;
}

.fulfilment__title{
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.fulfilment__text{
  margin-bottom: 2rem;
}

.fulfilment__text:last-of-type{
  margin-bottom: 0;
}

.section{
  margin-bottom: 6rem;
}

.section__title{
  text-align: center;
  margin-bottom: 4rem;
}

.section__item-title{
  margin-bottom: 1rem;
}

.section__item-text{
  font-size: 1.6rem;
  color: #868686;
  width: 70%;
}

.section__item{
  background-color: #f2f5fa;
  border-radius: 1rem;
  background-size: 100% 100%;
  padding: 2rem;
}

@media screen and (max-width: 800px){

  .section__item{
    background-size: 65% 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    width: 80%;
  }
}



.markets__content{
  display: flex;
  justify-content: space-between;
}

.markets__item{
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.markets__image{
  max-width: 80%;
  margin-bottom: 2rem;
}

.operation__content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.operation__item{
  width: 45%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  color: black;
}

.operation__text{
  color: black;
}

.operation__item-large{
  width: 95%;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: 85% 75%;
}

.operation_step1{
  background-image: url("../images/operation_step_1.png");
}
.operation_step2{
  background-image: url("../images/operation_step_2.png");
}
.operation_step3{
  background-image: url("../images/operation_step_3.png");
}
.operation_step4{
  background-image: url("../images/operation_step_4.png");
}
.operation_step5{
  background-image: url("../images/operation_step_5.png");
}

@media screen and (max-width: 800px){

  .operation__item{
   width: 90%;
  }

  .operation__item-large{
    background-size: auto 70%;
    background-position: 95% 75%;
  }

}

@media screen and (max-width: 500px){
  .operation__item{
   background-size: 100% 100%;
  }

  .operation__item-large{
    background-size: auto 45%;
  }
}

@media screen and (max-width: 376px){

  .operation__item-large{
    background-size: auto 35%;
  }

}

@media screen and (max-width: 326px){

  .operation__item-large{
    background-size: auto 25%;
  }

}

.section__item-icon{
  width: 4rem;
  margin-bottom: 1.8rem;
}

.advantages__content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item{
  height: 35rem;
  width: 20%;
  margin-bottom: 2rem;
}

.advantages_1{
  background-image: url("../images/advantages_1.png");
}
.advantages_2{
  background-image: url("../images/advantages_2.png");
}
.advantages_3{
  background-image: url("../images/advantages_3.png");
}
.advantages_4{
  background-image: url("../images/advantages_4.png");
}

@media screen and (max-width: 980px) and (min-width: 600px) {

  .advantages__content{
    justify-content: space-around;
  }

  .advantages__item{
    width: 40%;
  }

}

@media screen and (max-width: 600px){

  .advantages__content{
    justify-content: center;
  }

  .advantages__item{
    width: 80%;
  }

}

.services__content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item{
  width: 27%;
  height: 40rem;
}

.services_1{
  background-image: url("../images/services_1.png");
}
.services_2{
  background-image: url("../images/services_2.png");
}
.services_3{
  background-image: url("../images/services_3.png");
}

@media screen and (max-width: 980px){

  .services__content{
    justify-content: center;
  }

  .services__item{
    width: 80%;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    margin-bottom: 2rem;
  }

}

.calculation__title{
  margin-bottom: 3rem;
  color: #2A326E;
}

.calculation__form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calculation__column-left{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.calculation__input-item{
  width: 50%;
}

.calculation__input-title{
  margin-bottom: 2rem;
}

.calculation__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3rem;
}

.calculation__input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.calculation__input{
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.calculation__select-container{
  padding: 1rem;
  height: 4rem;
  width: 85%;
  background-color: #f2f5fa;
  border-radius: 5px;
  cursor: pointer;
}

.calculation__select{
  width: 100%;
  border: none;
  height: 4rem;
  background-color: #f2f5fa;
  cursor: pointer;
}

.calculation__select:focus{
  outlane: none;
}

.calculation__column-right{
  display: flex;
  width: 40%;
}

.calculation__contact-container{
  background-color: #2a326e;
  color: white;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  height: 45rem;
  width: 80%;
  border-radius: 10px;
}

.calculation__contact-title{
  text-align: center;
  margin-bottom: 4rem;
}

.calculation__contact-input{
  min-height: 3rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media screen and (max-width: 980px){

  .calculation__column-left, .calculation__column-right{
    width: 100%;
    padding: 2rem;
  }

  .calculation__column-right{
    justify-content: center;
  }

}

@media screen and (max-width: 426px){

  .calculation__input-item{
    width: 90%;
    margin-bottom: 2rem;
    margin: 0 auto 2rem auto;
  }

}



.sales__content{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.sales_1{
  background-image: url("../images/sales_1.png");
}
.sales_2{
  background-image: url("../images/sales_2.png");
}
.sales_3{
  background-image: url("../images/sales_3.png");
}
.sales_4{
  background-image: url("../images/sales_4.png");
}
.sales_5{
  background-image: url("../images/sales_5.png");
}
.sales_6{
  background-image: url("../images/sales_6.png");
}
.sales_7{
  background-image: url("../images/sales_7.png");
}

.sales__item{
  width: 20%;
  height: 35rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.sales__item-large{
  width: 45%;
}

.sales__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #1e73f6;
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
}

@media screen and (max-width: 1024px){

  .sales__content{
    justify-content: center;
  }

  .sales__item{
    width: 40%;
  }

  .sales__item-large{
    width: 95%;
    background-size: 100% 100%;
  }

}

@media screen and (max-width: 800px){

  .sales__item{
    width: 80%;
  }

}


.tariffs{
  margin-bottom: 4rem;
}

.tariffs__switcers{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.toggle-input {
    display: none;
}

.tariffs__label{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  padding: 2rem;
  color: #1E73F6;
  background-color: #f1f6ff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

.tariffs__main{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.tariffs__additional{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.label-active{
  color: white ;
  background-color: #1E73F6;
}

.tariffs__content{
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tariffs__input-main:checked + .tariffs__content-main {
    display: flex;
}

.tariffs__input-additional:checked + .tariffs__content-additional {
    display: flex;
}

.tariffs__item{
  border-radius: 1rem;
  background-color: #f1f6ff;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.tariffs__item-main{
  height: 12rem;
  width: 45%;
}

.tariffs__item-additional{
  height: 12.5rem;
  width: 20%;
}

.tariffs__item-title{
  margin-bottom: 1rem;
}

.tariffs__item-text{
  font-size: 1.6rem;
}

.tariffs__item-cost{
  position: absolute;
  bottom: 2rem;
  font-size: 2rem;
  font-weight: 550;
}

@media screen and (max-width: 800px){

  .tariffs__content{
    justify-content: space-around;
  }

  .tariffs__item-main{
    height: 12rem;
    width: 90%;
  }

  .tariffs__item-additional{
    width: 40%;
  }

}

@media screen and (max-width: 425px){

  .tariffs__label{
    font-size: 1.8rem;
    width: 50%;
  }

  .tariffs__item-additional{
    width: 90%;
  }

}

.questions__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions__item{
  padding: 1rem 2rem;
  width: 95%;
  background-color: #f1f6ff;
  margin-bottom: 3rem;
  border-radius: 2rem;
}

.questions__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
}

.questions__label{
  width: 6rem;
  height: 6rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #eeeeee;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

.questions__label:before{
  content: "";
   position: absolute;
   width: 3rem;
   border-top: 0.2rem solid black;
   background: #000000;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%)
}
.questions__label:after{
  content: "";
   position: absolute;
   height: 3rem;
   border-right: 0.2rem solid black;
   background: #000000;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%)
}

.questions__label-active{
   transform: rotate(45deg);
}

.questions__content{
  max-height: 0px;
  margin-bottom: 0;
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.questions__input:checked + .questions__content{
  max-height: 20rem;
  margin-bottom: 1rem;
}

.questions__question{
  width: 80%;
}

@media screen and (max-width: 426px){

  .questions__item{
    width: 85%;
  }

}

.contact{
  box-sizing: border-box;
  background-image: url(../images/consultant.png);
  background-size: 30% 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contact__content{
  padding-bottom: 3rem;
}

.contact__form{
  display: flex;
  flex-direction: column;
}

.contact__time{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.contact__label{
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.contact__input{
  min-height: 3rem;
  width: 65%;
  border: 1px solid #1e73f6;
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: 1rem;
}

.contact__comment{
  min-height: 8rem;
  width: 65%;
  border: 1px solid #1e73f6;
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: 1rem;
}

.contact__swithcers{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.contact__label-switcher{
  box-sizing: border-box;
  display: block;
  margin-right: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}

.contact__label-switcher-active{
  border: 1px solid black;
  background-color: #eeeeee;
}

.contact__input-toggle{
  display: none;
}

.toggle-input:checked + .contact__input-toggle{
  display: block;
}

.contact__button{
  width: 25rem;
}

@media screen and (max-width: 800px){

  .contact{
    background-image: none;
  }

  .contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__input{
    width: 85%;
  }
  .contact__comment{
    width: 85%;
  }

}


.footer{
  background-color: #2a326e;
  color: white;
}

.footer__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__icon{
  max-width: 3rem;
}

.footer__title{
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__logo{
  max-height: 3rem;
  max-width: 10rem;
  margin-right: 2rem;
}

.footer__content{
  display: flex;
  flex-direction: row;
  min-height: 20rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item{
  width: 25%;
}

.footer__list{
  list-style-type: none;
  color: #f1f6ff;
  padding: 0;
}

.footer__list-item{
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px){

  .footer__item{
    width: 50%;
  }
}
